<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="with=device-with, initial-scale=1.0">
        <title>Bienvenido/a a Ahorcado</title>
    </head>
    <body>
        <h1>Bienvenido/a Ahorcado</h1>
        <div id="palabra"><%=@palabra%></div>
        <form action="/" method="post">
            <input type="text" name="letra" id="numero" />
            <input type="submit" value="Adivinar" />
        </form>
        <div id="mensaje"><%=@mensaje%></div>
    </body>
</html>